/* Authentication */
/*
.loginClass {
  position: absolute;
  left: 0px;
  top: 51px;

  width: 100%;
  height: 100%;
}
*/
.auth {
    position: absolute;
    left: 0px;
    top: 51px;

    width: 100%;
    height: calc(100% - 51px);

    display: flex;
    align-items: center;
    justify-content: center;

    display: -webkit-flex;
    -webkit-align-item:center;
    -webkit-justify-content: center;
}


.auth .card {
    width: 400px;
    //margin: 0 auto;
}

.auth .header {
    font-size: 18px;
}

.auth .row {
    margin-bottom: 0px;
}

.auth .usernamexx {
    margin-top: 0px;
}

.auth .btn {
    width: 90%;
}

.auth .footer {
    border-top: 1px solid #E9E9E9;
    padding-bottom: 21px;
}
